<% if current_user.username != nil  %>
 <h1> Welcome <%= @user.username.split.map(&:capitalize)*' ' %>, Here are your Features!</h1>
<% end %>

<% @features.each do |f| %>

  <div>
    <%= f.song %> - <%= f.artist1 %> ft. <%= f.artist2 %>
   <form method="POST" action="/features/<%=f.id%>/delete">
     <input type="hidden" id="hidden" name="_method" value="DELETE">
     <input type="submit" value="Delete Feature">
  </form>
   

     <a href="/features/<%=f.id%>/edit"> Edit Feature</a>
 

  </div>
<% end %> 


<%# <a href="/features/new">Create Another Feature!</a>
<a href="/logout">Log Out</a> %>
