<% if current_user.username != nil  %>
  <h1> Welcome, <%= current_user.username %></h1>
<% end %>

<h4>See what features people are fantasising about!</h4>

<% @features.each do |f| %>
  <div>
    <%= f.song %> - <%= f.artist1 %> ft. <%= f.artist2 %> created by <%= f.user.username%>
  </div>
<% end %> 